.history__wrapper {
  display: flex;
  justify-content: center;
}

/*! modern-normalize v1.1.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
/*
Document
========
*/
/**
Use a better box model (opinionated).
*/
*,
::before,
::after {
  box-sizing: border-box;
}

/**
Use a more readable tab size (opinionated).
*/
html {
  tab-size: 4;
}

/**
1. Correct the line height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
*/
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/*
Sections
========
*/
/**
Remove the margin in all browsers.
*/
body {
  margin: 0;
}

/**
Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
*/
body {
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

/*
Grouping content
================
*/
/**
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
*/
hr {
  height: 0;
  /* 1 */
  color: inherit;
  /* 2 */
}

/*
Text-level semantics
====================
*/
/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr[title] {
  text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, 'Liberation Mono', Menlo, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Tabular data
============
*/
/**
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/
table {
  text-indent: 0;
  /* 1 */
  border-color: inherit;
  /* 2 */
}

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
1. Remove the inheritance of text transform in Firefox.
*/
button,
select {
  /* 1 */
  text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type='button'],
[type='reset'],
[type='submit'] {
  -webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/
::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/
:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
Remove the additional ':invalid' styles in Firefox.
See: https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737
*/
:-moz-ui-invalid {
  box-shadow: none;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type='search'] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Tenor Sans", sans-serif;
  color: white;
  background-color: #313140;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  padding-left: 50px;
  padding-right: 50px;
  width: 1950px;
  margin: 0 auto;
}

@media screen and (min-width: 1950px) {
  .container .container {
    width: 1950px;
  }
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
}

.list {
  list-style: none;
}

header {
  padding: 0;
}

.header__wrapper {
  position: absolute;
  z-index: 1100;
  width: 100%;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
  padding-left: 220px;
  padding-right: 270px;
}

.header__description {
  color: white;
  display: inline-block;
  width: 175px;
  height: 28px;
  font-family: "Tenor Sans", sans-serif;
  font-size: 12px;
  letter-spacing: 0.4px;
}

.header__divider {
  display: block;
  width: 1px;
  height: 56px;
  background-color: rgba(255, 255, 255, 0.1);
  margin-right: 25px;
}

.header__navigation-list {
  display: flex;
  margin-left: -200px;
}

.header__navigation-link {
  color: white;
}

.header__navigation-item:not(:last-child) {
  margin-right: 31px;
}

.header__callback {
  display: flex;
  align-items: center;
}

.header__callback-number {
  color: white;
  margin-right: 30px;
  font-family: Arial;
}

.header__callback-image {
  margin-top: 10px;
}

.logo {
  margin-right: 25px;
}

.logo__wrapper {
  display: flex;
  align-items: center;
}

.hero {
  height: 1100px;
  padding-left: 350px;
  margin-bottom: 170px;
  background: url("../images/hero/artists.png") 1000px 200px no-repeat, url("../images/hero/bg.png") no-repeat;
}

.hero__title {
  padding-top: 250px;
  padding-bottom: 26px;
  color: white;
  font-family: "Tenor Sans", sans-serif;
  font-size: 50px;
  line-height: 59px;
  font-weight: 700;
  text-transform: uppercase;
}

.hero__title-accent {
  color: #e5b093;
}

.hero__description {
  padding-bottom: 50px;
  color: white;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
}

.hero__description-accent {
  color: #eab1b4;
}

.hero__description-vibe {
  text-transform: uppercase;
  font-style: italic;
}

.hero__scroll-down {
  background: url("../images/hero/scroll_down.png") no-repeat;
  width: 27px;
  height: 190px;
  margin-left: -170px;
  margin-top: -130px;
}

.hero__navigation {
  position: absolute;
}

.hero__navigation-list {
  position: relative;
  top: -520px;
  left: 1370px;
}

.hero__navigation-item {
  display: block;
  width: 4px;
  height: 4px;
  background-color: #b1b1b3;
  border-radius: 50%;
  margin-bottom: 15px;
}

.hero__registration-phone {
  margin-top: -40px;
  margin-bottom: 14px;
  display: block;
  background: #ffffff;
  border: 1px solid rgba(250, 250, 250, 0.165952);
  box-shadow: inset 0px 1px 4px #9d9db0;
  border-radius: 7px;
  width: 333px;
  height: 70px;
  padding: 26px;
}

.hero__registration-button {
  width: 340px;
  height: 99px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(314.24deg, #c88c61 25.11%, #ebbe9c 88.64%);
  box-shadow: inset 0px 0px 12px #e5b79a;
  color: #ffffff;
  font-size: 14px;
  line-height: 16px;
  border-top-left-radius: 7px 50px;
  border-bottom-left-radius: 7px 50px;
  border-top-right-radius: 7px 50px;
  border-bottom-right-radius: 7px 50px;
  margin-bottom: 180px;
}

.hero__registration-button:hover {
  cursor: pointer;
  font-size: 16px;
  font-weight: 6500;
  transition-duration: 300ms;
}

.hero__registration-button-icon {
  margin-left: 19px;
}

.hero__registration-phone {
  background: url("../images/hero/phone.png") no-repeat 20px;
  background-color: #ffffff;
  padding-left: 80px;
  border: none;
}

.hero__services-image-container {
  display: flex;
}

.hero__services-list {
  display: flex;
}

.hero__services-title {
  text-align: center;
  margin-top: 5px;
}

.hero__services-item:nth-child(even) {
  padding-top: 100px;
}

.hero__services-item:not(:last-child) {
  margin-right: 170px;
}

.active-page::after {
  content: '';
  display: block;
  text-align: center;
  width: 21px;
  height: 1px;
  margin-top: 11px;
  margin-left: 13px;
  background-color: #e5b093;
}

.history__title {
  padding-bottom: 85px;
  color: white;
  font-family: "Tenor Sans", sans-serif;
  font-size: 50px;
  line-height: 59px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}

.history__title-accent {
  color: #ce946b;
}

.history__wrapper {
  background: url("../images/history/button-play.png") 1500px 400px no-repeat, url("../images/history/circles.png") 880px -220px no-repeat, url("../images/history/circles-1.png") 1100px 0 no-repeat, url("../images/history/bg-2.png") 800px 0 no-repeat, url("../images/history/bg-1.png") 800px 0 no-repeat;
}

.history__description {
  width: 380px;
  margin-left: 136px;
}
/*# sourceMappingURL=main.css.map */