$font-family: TenorSans;

$text-color: #34343f;
$bg-color: #313140;

// $button-color: #ce946b;
// $header-color: #c5988f;
// $icons-fill-color: #e4beb5;
// $sm-icons-color: #edd5d0;
// $numbers-color: #eab1b4;
