<header>
  <div class="header__wrapper">
    <div class="header__container container">
      <div class="logo__wrapper">
        <a class="logo link" href="index.html">
          <img src="./images/header/logo.svg" alt="логотип компании" />
        </a>
        <span class="header__divider"></span>
        <span class="header__description">
          Бьюти коворкинг <br />
          в Mоскве</span
        >
      </div>
      <nav class="header__navigation">
        <ul class="header__navigation-list list">
          <li class="header__navigation-item">
            <a class="header__navigation-link link" href="index.html">О нас</a>
          </li>
          <li class="header__navigation-item">
            <a class="header__navigation-link link" href="index.html">Цены</a>
          </li>
          <li class="header__navigation-item">
            <a class="header__navigation-link link" href="index.html"
              >Забронировать</a
            >
          </li>
          <li class="header__navigation-item">
            <a class="header__navigation-link link" href="index.html"
              >Контакты</a
            >
          </li>
        </ul>
      </nav>

      <div class="header__callback">
        <a href="tel:+76548760909" class="header__callback-number"
          >+7 (654) 876 09 09</a
        >
        <img
          src="./images/header/callback.svg"
          class="header__callback-image"
          alt="Обратный звонок"
        />
      </div>
    </div>
  </div>
</header>
