<section class="hero container">
  <h1 class="hero__title">
    бьюти коворкинг<br />
    для <span class="hero__title-accent">прикладных <br />эстетов</span> 4 сфер
  </h1>
  <div class="hero__content">
    <p class="hero__description">
      Занимайтесь любимым делом, зарабатывая до
      <span class="hero__description-accent">1 000 000 руб./год,</span
      ><br />арендуя локации в одной из 2 точек сети Vibe Coworking
    </p>
  </div>
  <div class="hero__scroll-down"></div>
  <form action="post" class="hero__registration-form">
    <input
      type="tel"
      placeholder="+7 (___) ___ - __ -__"
      class="hero__registration-phone"
    />
    <button type="button" class="hero__registration-button">
      ЗАБРОНИРОВАТЬ ВРЕМЯ
      <img
        src="./images/hero/cursor.png"
        alt="cursor"
        class="hero__registration-button-icon"
      />
    </button>
  </form>
  <ul class="hero__services-list list">
    <li class="hero__services-item">
      <div class="hero__services-image-container">
        <img
          class="hero__services-icon"
          src="./images/hero/chair.png"
          alt="chair icon"
        />
        <img
          class="hero__services-oval"
          src="./images/hero/oval1.png"
          alt="oval"
        />
      </div>

      <p class="hero__services-title">Регулируемые <br />кушетки и стулья</p>
    </li>

    <li class="hero__services-item">
      <div class="hero__services-image-container">
        <img
          class="hero__services-icon"
          src="./images/hero/equipment.png"
          alt="equipment icon"
        />
        <img
          class="hero__services-oval"
          src="./images/hero/oval2.png"
          alt="oval"
        />
      </div>
      <p class="hero__services-title">
        Сухожаровой <br />
        шкаф
      </p>
    </li>
    <li class="hero__services-item">
      <div class="hero__services-image-container">
        <img
          class="hero__services-icon"
          src="./images/hero/cost.png"
          alt="cost icon"
        />
        <img
          class="hero__services-oval"
          src="./images/hero/oval2.png"
          alt="oval"
        />
      </div>

      <p class="hero__services-title">
        Расходники <br />
        по себестоимости
      </p>
    </li>
    <li class="hero__services-title">
      <img
        class="hero__services-icon"
        src="./images/hero/interior.png"
        alt="interior icon"
      />
      <p class="hero__services-name">
        Интерьер, производящий<br />
        wow-эффект
      </p>
    </li>
  </ul>
</section>
