// Header
header {
  padding: 0;
  // background-color: $bg-color;
}
.header {
  &__wrapper {
    position: absolute;
    z-index: 1100;
    width: 100%;
  }
  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    padding-left: 220px;
    padding-right: 270px;
  }
  &__description {
    color: rgba(255, 255, 255, 1);
    display: inline-block;
    width: 175px;
    height: 28px;
    font-family: $font-family;

    font-size: 12px;
    letter-spacing: 0.4px;
  }
  &__divider {
    display: block;
    width: 1px;
    height: 56px;
    background-color: rgba(255, 255, 255, 0.1);
    margin-right: 25px;
  }
  &__navigation {
    &-list {
      display: flex;
      margin-left: -200px;
    }
    &-link {
      color: $text-color;
    }
    &-item:not(:last-child) {
      margin-right: 31px;
    }
  }
  &__callback {
    display: flex;
    align-items: center;

    &-number {
      color: $text-color;
      margin-right: 30px;
      font-family: Arial;
    }
    &-image {
      margin-top: 10px;
    }
  }
}

//Logo

.logo {
  margin-right: 25px;
  &__wrapper {
    display: flex;
    align-items: center;
  }
}
