.hero {
  height: 1100px;
  padding-left: 350px;
  margin-bottom: 170px;
  background: url('../images/hero/artists.png') 1000px 200px no-repeat,
    url('../images/hero/bg.png') no-repeat;
  // background: $bg-color;
  &__title {
    padding-top: 250px;
    padding-bottom: 26px;
    color: $text-color;
    font-family: $font-family;
    font-size: 50px;
    line-height: 59px;
    font-weight: 700;
    text-transform: uppercase;
    &-accent {
      color: $title-accent;
    }
  }
  &__description {
    padding-bottom: 50px;
    color: $text-color;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    &-accent {
      color: $accent-color;
    }
    &-vibe {
      text-transform: uppercase;
      font-style: italic;
    }
  }
  &__scroll-down {
    background: url('../images/hero/scroll_down.png') no-repeat;
    width: 27px;
    height: 190px;
    margin-left: -170px;
    margin-top: -130px;
  }
  &__navigation {
    position: absolute;
    &-list {
      position: relative;
      top: -520px;
      left: 1370px;
    }
    &-item {
      display: block;
      width: 4px;
      height: 4px;
      background-color: rgba(177, 177, 179, 1);
      border-radius: 50%;
      margin-bottom: 15px;
    }
  }
  &__registration-phone {
    // box-sizing: border-box;
    margin-top: -40px;
    margin-bottom: 14px;
    display: block;
    background: #ffffff;
    border: 1px solid rgba(250, 250, 250, 0.165952);
    box-shadow: inset 0px 1px 4px $form-input-color;
    border-radius: 7px;
    width: 333px;
    height: 70px;
    padding: 26px;
  }
  &__registration-button {
    width: 340px;
    height: 99px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(314.24deg, #c88c61 25.11%, #ebbe9c 88.64%);
    box-shadow: inset 0px 0px 12px #e5b79a;
    color: #ffffff;
    font-size: 14px;
    line-height: 16px;
    border-top-left-radius: 7px 50px;
    border-bottom-left-radius: 7px 50px;
    border-top-right-radius: 7px 50px;
    border-bottom-right-radius: 7px 50px;
    margin-bottom: 180px;
    &:hover {
      cursor: pointer;
      font-size: 16px;
      font-weight: 6500;
      transition-duration: 300ms;
    }
  }
  &__registration-button-icon {
    margin-left: 19px;
  }

  &__registration-phone {
    background: url('../images/hero/phone.png') no-repeat 20px;
    background-color: #ffffff;
    padding-left: 80px;
    border: none;
  }
  &__services {
    &-image-container {
      display: flex;
    }
    &-list {
      display: flex;
    }
    &-title {
      text-align: center;
      margin-top: 5px;
    }
    &-item:nth-child(even) {
      padding-top: 100px;
    }
    &-item:not(:last-child) {
      margin-right: 170px;
    }
  }
}
.active-page::after {
  content: '';
  display: block;
  text-align: center;
  width: 21px;
  height: 1px;
  margin-top: 11px;
  margin-left: 13px;
  background-color: $title-accent;
}
