.history {
  height: 1000px;
  padding-top: 150px;
  background-color: $bg-color;
  border-bottom-right-radius: 20px;
  border-bottom-right-radius: 20px;
  margin-bottom: 100px;
  // background: url('../images/history/button-play.png') 1000px 250px no-repeat,
  //   url('../images/history/circles.png') 550px -220px no-repeat,
  //   url('../images/history/circles-1.png') -100% 0 no-repeat,
  //   url('../images/history/bg-2.png') no-repeat,
  //   url('../images/history/bg-4.png') 0 0 no-repeat;
  &__title {
    padding-bottom: 85px;
    color: $text-color;
    font-family: $font-family;
    font-size: 50px;
    line-height: 59px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    &-accent {
      color: rgba(206, 148, 107, 1);
    }
  }
  &__wrapper {
    @extend %flex-j;
  }
  &__description {
    text-align: initial;
    width: 380px;
    margin-left: 136px;
    font-size: 20px;
    line-height: 28px;
    color: $text-color;
    &-text {
      padding-top: 40px;
    }
    &-details {
      display: inline-block;
      margin-top: 25px;
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 28px;
    }
    &-accent {
      color: $accent-color;
    }
  }
  &__registration-button {
    margin-top: 45px;
  }
}
